@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);

body{
  background-color: #f2f2f2;
  font-family: "Open Sans";
  font-weight: 300;
}
#txtCantidad, #txtPlazo{
  height: 36.86px;
}

.btn-letsgo{
  background-color:#0e8a65;
  color:white;
  border-radius: .0rem;
}
.customCheck {
  margin:px;
  float:left;
}

.customCheck label {
  float:left;
  width:170px;
  margin:px;
  background-color:#EFEFEF;
  border-radius:0px;
  border:1px solid #D0D0D0;
  overflow:auto;
     
}

.customCheck label input{
  visibility: hidden;
}



.customCheck label span {
  text-align:center;
  font-size: 17px;
  padding:5px 0px;
  display:block;
}

.customCheck label input {
  position:absolute;
  top:-20px;
}

.customCheck input:checked + span {
  background-color:#33BA75;
  color:#F7F7F7;
}

.customCheck .blue {
  background-color:#DBDBDB;
  color:#333;
}

.halfwidth{
  width: 50% !important;
}

.fullwidth{
  width: 100% !important;
}
.finalCurrency{
  color:#0e8a65;font-size: x-large;margin-bottom: 0px;
}
.noBottomMargin{
  margin-bottom: 0px;
}
.grayBackground{
  background-color: #e8e7e7;
}